
{% extends "main/base.html" %}
{% load  static %}

	{% block title%}{{name}}
	

	 {% endblock%}
{%block content%}
{% load static%}
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
	<script>


const firebaseConfig = {
  apiKey: "AIzaSyDUdoFBLJA4PPgEY89ZwZb1OMQg4SO5FOU",
  authDomain: "explore-81b2d.firebaseapp.com",
  projectId: "explore-81b2d",
  storageBucket: "explore-81b2d.appspot.com",
  messagingSenderId: "297028201215",
  appId: "1:297028201215:web:7083af8af39ed5e8dbbaca",
  measurementId: "G-K9GCZLC8KX"
};


    firebase.initializeApp(firebaseConfig);
</script>
<script src="{% static 'main/NumberAuthentication.js' %}" type="text/javascript"></script>

	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5">Account Settings</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							<img src="{% static 'main/user2.jpg' %} " alt="Image" class="shadow">
						</div>
						<h4 class="text-center">{{user.username}}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class={% if not active == 2 %}"nav-link active" {% else %}"nav-link"{% endif %} id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected={% if not active == 2 %}"true" {% else %}"false"{% endif %}>
							<i class="fa fa-home text-center mr-1"></i> 
							Account
						</a>
						<a class={% if active == 2 %}"nav-link active" {% else %}"nav-link"{% endif %} id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</a>
						<a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
							<i class="fa fa-user text-center mr-1"></i> 
							Security
						</a>
						<a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
							<i class="fa fa-tv text-center mr-1"></i> 
							Application
						</a>
						<a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
							<i class="fa fa-bell text-center mr-1"></i> 
							Notification
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class={% if not active == 2 %} "tab-pane fade show active" {% else %}"tab-pane fade"{% endif %} id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Account Settings</h3>
							<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	 <form method="post" novalidate>
  									{% csrf_token %}
 								 {% include 'main/bs4form.html' with form=form %}
								  
  								<center><button type="submit" class="btn btn-primary">Update</button></center>
								</form>
								</div>
							</div>
							

							
							</div>
						
						
					</div>
					<div class={% if active == 2 %} "tab-pane fade show active" {% else %}"tab-pane fade"{% endif %}  id="password" role="tabpanel" aria-labelledby="password-tab">
						<h3 class="mb-4">Password Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	 <form method="post" onSubmit="posts()" novalidate action="">
  									{% csrf_token %}
 								 {% include 'main/bs4form.html' with form=form1 %}
								  
  								<center><button type="submit" class="btn btn-primary" onclick="posts()">Update</button></center>
								</form>
								<script>
								function posts(){
								$.ajax({
									type : 'POST',
									headers : { 'X-CSRFToken': "{{ csrf_token }}" },
									url : " {% url 'pass' %} ",
									data : { "{{ form1 }}"   }

								})
								}
								</script>
								</div>
							</div>
						</div>
						<div class="row">
						</div>
					</div>
					<div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
						<h3 class="mb-4">Security Settings</h3>
						<div class="row">
							
								{% if user.is_authenticated %}
								{% if not user.isVerifiedMobile %}
								<form class="form-control">
    								<input type="text" id="number" value="+1 555-555-5555" class="form-control">
    								<div id="recaptcha-container"></div>
    								<button class="btn-primary" type="button" onclick="phoneAuth();">SendCode</button>
								</form>
								
								<div id="otpverify" style="display:none">
								<form>
 									<input class="form-control" type="text" id="verificationCode" placeholder="Enter verification code">
   									 <button class="btn-primary" type="button" onclick="codeverify();">Verify code</button>
								</form>
								</div>
								{% else %}
								  <input  value="{{ user.phone }}" readonly>
								{% endif %}
								{% endif %}
								</div>
							
					</div>
					<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
						<h3 class="mb-4">Application Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="app-check">
										<label class="form-check-label" for="app-check">
										App check
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
										<label class="form-check-label" for="defaultCheck2">
										Lorem ipsum dolor sit.
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
						<h3 class="mb-4">Notification Settings</h3>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification1">
								<label class="form-check-label" for="notification1">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification2" >
								<label class="form-check-label" for="notification2">
									hic nesciunt repellat perferendis voluptatum totam porro eligendi.
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification3" >
								<label class="form-check-label" for="notification3">
									commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
								</label>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 {% endblock%}