[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "==0.3.1"
asgiref = "==3.4.1"
dj-database-url = "==0.5.0"
django-cors-headers = "==3.8.0"
et-xmlfile = "==1.1.0"
openpyxl = "==3.0.7"
psycopg2 = "==2.9.1"
pytz = "==2021.1"
sqlparse = "==0.2.4"
whitenoise = "==5.3.0"
gunicorn = "==20.1.0"
djongo = "==1.3.6"
certifi = "==2021.5.30"
cffi = "==1.14.6"
charset-normalizer = "==2.0.6"
cryptography = "==3.4.8"
defusedxml = "==0.7.1"
django-allauth = "==0.45.0"
django-crispy-forms = "==1.13.0"
django-dbshell-plus = "==1.0.1"
django-extensions = "==3.1.3"
django-widget-tweaks = "==1.4.8"
idna = "==3.2"
oauthlib = "==3.1.1"
pycparser = "==2.20"
pymongo = "==3.12.0"
python3-openid = "==3.2.0"
requests = "==2.26.0"
requests-oauthlib = "==1.3.0"
urllib3 = "==1.26.7"
PyJWT = "==2.1.0"
xhtml2pdf = "==0.2.5"
django-wkhtmltopdf = "==3.3.0"
django-easy-pdf = "==0.2.0.dev1"
reportlab = "==3.6.2"
six = "==1.16.0"
django-utils-six = "==2.0"
twilio = "==7.2.0"
pyngrok = "==5.1.0"
firebase-admin = "==5.0.3"
arabic-reshaper = "==2.1.3"
cachetools = "==4.2.4"
cssselect2 = "==0.4.1"
docx = "==0.2.4"
fonttools = "==4.27.1"
future = "==0.18.2"
google-api-core = "==2.1.1"
google-api-python-client = "==2.27.0"
google-auth = "==2.3.0"
google-auth-httplib2 = "==0.1.0"
google-cloud-core = "==2.1.0"
google-cloud-firestore = "==2.3.4"
google-cloud-storage = "==1.42.3"
google-crc32c = "==1.3.0"
google-resumable-media = "==2.0.3"
googleapis-common-protos = "==1.53.0"
grpcio = "==1.41.0"
html5lib = "==1.1"
httplib2 = "==0.20.1"
jws = "==0.1.3"
lxml = "==4.6.3"
msgpack = "==1.0.2"
oauth2client = "==3.0.0"
pillow = "==8.4.0"
proto-plus = "==1.19.5"
protobuf = "==3.19.0"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pydyf = "==0.1.1"
pyparsing = "==2.4.7"
pyphen = "==0.11.0"
python-bidi = "==0.4.2"
python-jwt = "==2.0.1"
requests-toolbelt = "==0.7.0"
rsa = "==4.7.2"
tinycss2 = "==1.1.0"
uritemplate = "==4.1.1"
weasyprint = "==53.3"
webencodings = "==0.5.1"
zopfli = "==0.1.9"
Django = "==3.2.6"
Brotli = "==1.0.9"
CacheControl = "==0.12.6"
PyPDF2 = "==1.26.0"
PyYAML = "==6.0"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
