
header{
    position: relative;
}
main {
  margin-top: 100px;
  height: 90%;
}
.bacc{
  background:red;
}
body {
 
    min-height: 110vh;
    /* background-color: black; */
    background-color: #4ca1af;
     background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%); 
     background-image: url(https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg); 
    overflow: auto;
}
iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 90%; 
 width:90%;
 border: none;
 background-color: aqua;
}
.render{
    position:relative;
    display: flex;
}
.item{
    color: aliceblue;
    
}