.tabss{
    color: aqua;
  }
.long{
  height: 50vh;
}
.hide{
  color: red;
}
.show{
  color: green;
}
.xl{
  font-size: large;
}
.md{
  font-size:small;
}

.addbtn{
  color:green;
}
.removebtn{
  color: red;
}
iframe 
{
font-family: "DejaVu Sans", "Arial", sans-serif;
 margin: 0px; 
 padding: 0px; 
 height: 90%; 
 width:90%;
 border: none;
}