<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <meta name="description" content="This is an example of a meta description.">
    <link rel="stylesheet" type="text/css" href="theme.css">
      {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'reactfrontend/bootstrap.min.css' %}"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" type="text/css"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

     <script src="{% static 'reactfrontend/bootstrap.min.js' %}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous" type="text/javascript" ></script>  
<link rel="stylesheet" type="text/css" href="{% static 'reactfrontend/styles.css' %}"> 
 <link rel="stylesheet" type="text/css" href="{% static 'reactfrontend/semantic.min.css' %}">
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
  <form method="post" enctype="multipart/form-data">
  {%csrf_token%}
		{{ form.as_p }}
    {% if name == 'QuestionCreateView' %}
          
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
            {% endif %}

        <input class="btn btn-primary" type="submit"/>
        
        </form>
        </div>
  </body>
</html>