{% extends "main/base.html" %}
{% block title%} {{name}} {% endblock%}

{%block content%}

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
{% endfor %}



  <form method="post" enctype="multipart/form-data">
  {%csrf_token%}
		{{ form.as_p }}
 <center> <input class="btn btn-primary" type="submit"/> </center>
        
    </form>
{% endblock%}